
/*

.navbar-light .navbar-nav .nav-item 
{
    text-decoration: none;
    color: white;
    margin-right: 5px;
}
.navbar-light .branding h1
{
    text-decoration: none;
    color: white;
}
.navbar-light .branding:active
{
    text-decoration: none;
    color: white;
} */
